* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  background: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: aliceblue;
  /* padding:20px 6%; */
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 8px;
}
nav a {
  font-size: 20px;
  margin: 15px;
  padding: 8px;
  color: #111;
  font-weight: 500;
  
}
nav a:hover {
  color: #0323f0;
  border-bottom: 3px solid #0323f0;
}
.btnSignup {
  
  display: inline-block;
  padding: 10px 30px;
  background-color: #0323f0;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 20px;
  font-weight: 500;
}
/* ********************* */
/* #check{
  display: none;
}
#check:checked~nav{
  left:0;
  opacity: 100%;
  
}

label{
  font-size: 35px;
  cursor: pointer;
  color: #111;
  display: none;
} */

/************Media Queries****************/
@media screen and (max-width:910px) {
  header {
    /* padding: 4%;  so 1% equal to 4px*/
    padding:16px;
  }
  nav a {
    margin: 10px;
  }
}

@media screen and (max-width:810px) {
  .menu_icons{
    visibility: visible;
  }
  header nav {
    
    position: absolute;
    /* left: -100%;
    top:100%; */
    /* width: 50%;
    height: 80vh; */
    background-color: aliceblue;
    padding: 20px;
    /* opacity: 1; */
    background: #fff;
    /* z-index: 100; */
    transition: 0.3s ease;
  
  }
  header nav a{
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px #0323f0;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 22px;
  }
  /* label, */
  .menu_icons:hover > header nav {
    display: block;
  }
  
  header nav {
    display: block;
  }
  
}
/*******************Home Section Started*****************/
section{
  padding: 24px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.content{
  text-align: center;
  position:relative;
}
.content h1{
  font-size: 60px;
}
.content p{
  line-height: 1.5;
  font-size: 17px;
  margin: 20px 30px;
}
section .content .btnSignup{
  background-color:white;
  color: #0323f0;
}
.btnSignup:hover{
  transform: scale(1.1 );
}
/*************************************/

